{% extends "base.html" %}

{% block content %}
  <div id="condensity">
    <legend>About</legend>
    <p style="font-size:17px">Condensity is the project of Vincent Wilson, Toby Ueno and Spencer Chang for the
      <a href="http://nwapw.org/">2020 Northwest Advanced Programming Workshop</a>.
      Condensity is a novel extraction-based summarization algorithm that harnesses a diverse assortment of
      natural language processing techniques. The algorithm works by first scoring sentences by synset word frequency.
      Then Condensity applies other optimized factors to the summarization such as sentiment analysis,
      Levenshtein similarity and word vectorization. The result is an algorithm that summarizes text to a high degree
      of accuracy and fidelity to key ideas. You can find our MIT licensed open source code <a>here</a>.</p>
    <p class="form-text text-muted">The creators of Condensity do not profit from this service and have intended it to
      be an educational tool protected under Fair Use. Please contact us at
      <a href="mailto:condensity.nwapw@gmail.com">condensity.nwapw@gmail.com</a> if you have any questions
      regarding the material published on this website.</p>
  </div>
      <div id="vinny">
      <legend>Vincent Wilson</legend>
      <p>Vincent Wilson is a senior at Lakeside School in Seattle, Washington. He came up with this project idea for
        NWAPW because of his multi-disciplinary interests in both Computer Science and Journalism. As the Editor in
        Chief of his school newspaper, he’s seen first hand how traditional news mediums can be hamstrung by lengthy
        articles. During the development of Condensity, Vincent worked on the summarization algorithm by implementing
        NLP metrics like word vectorization and Levenshtein similarity. He also planned and implemented the architecture of the backend by using tools like
        Flask and Nginx and services like AWS EC2.</p>
  </div>
  <div id="toby">
      <legend>Toby Ueno</legend>
      <p>Toby Ueno is a senior at Oregon Episcopal School in Portland, Oregon. He was interested in this project
        because of its potential to bridge the gap between skimming headlines and poring over long articles.
        During the project, he worked on the summarization algorithm, the automatic tagger, the web scraper,
        and various portions of the website. He enjoyed collaborating with his teammates and getting to learn more
        about web development.</p>
  </div>
  <div id="spencer">
      <legend>Spencer Chang</legend>
      <p>Spencer is going to be a junior heading on to Mountain View High School in Vancouver, Washington. This project
        interested him because it seemed like a really practical project that would be usable in life. He works mostly on
        the frontend of things, such as making the template for the page and the about page, as well as the word occurence
        program and the javascript for the input boxes of text and the slider. He thinks that working in a group on a
        project on this has been fun and refreshing part of programming.</p>
  </div>
  <style>
      h1.aboutus{
          text-align: center;
          font-family: 'Quicksand', sans-serif;

      }
      #condensity{
          clear: right;
          margin: 1em;
      }
      #vinny{
          width: 50%;
          float: left;
          clear: right;
          margin: 1em;
      }
      #toby{
          width: 50%;
          float: right;
          clear:left;
          margin: 1em;
      }
      #spencer{
          width: 50%;
          float: left;
          clear: right;
          margin: 1em;
      }

  </style>

  {% endblock content %}
