{% extends "base.html" %}

{% block content %}
  <div id="condensity">
    <legend>About</legend>
    <p style="font-size:17px">Condensity is the project of Vincent Wilson, Toby Ueno and Spencer Chang for the <a href="http://nwapw.org/">2020 Northwest Advanced Programming Workshop</a>. Condensity is a novel extraction-based summarization algorithm that harnesses a diverse assortment of natural language processing techniques. The algorithm works by first scoring sentences by synset word frequency. Then Condensity applies other optimized factors to the summarization such as sentiment analysis, Levenshtein similarity and word2vec "synonyms." The result is an algorithm that summarizes text to a high degree of accuracy and fidelity to key ideas. You can find our MIT licensed open source code <a>here</a>.</p>
    <p class="form-text text-muted">The creators of Condensity do not profit from this service and have intended it to be an educational tool protected under Fair Use. Please contact us at <a href="mailto:condensity.nwapw@gmail.com">condensity.nwapw@gmail.com</a> if you have any questions regarding the material published on this website.</p>
  </div>
      <div id="vinny">
      <legend>Vincent Wilson</legend>
      <p>Vincent Wilson is a senior at Lakeside School in Seattle, Washington. He came up with this project idea for NWAPW because of his multi-disciplinary interests in both Computer Science and Journalism. As the Editor in Chief of his school newspaper, he’s seen first hand how traditional news mediums can be hamstrung by lengthy articles. During the development of Condensity, Vincent worked on the summarization algorithm by implementing various NLP metrics. He also planned and implemented the architecture of the backend by using tools like Flask and Nginx and services like AWS EC2.</p>
  </div>
  <div id="toby">
      <legend>Toby Ueno</legend>
      <p>Toby Ueno is a senior from Portland, Oregon. During the project, he worked on the summarization algorithm, the automatic tagger, and the web scraper. He enjoyed collaborating with his teammates and getting to learn more about web development.</p>
  </div>

  <div id="spencer">
      <legend>Spencer Chang</legend>
      <p>Spencer is going to be a junior heading on to Mountain View High School. He works mostly on the frontend of things. He thinks that working in a group on a project on this is a fun and refreshing part of programming.</p>
  </div>
  <style>
      h1.aboutus{
          text-align: center;
          font-family: 'Quicksand', sans-serif;

      }
      #condensity{
          clear: right;
          margin: 1em;
      }
      #vinny{
          width: 50%;
          float: left;
          clear: right;
          margin: 1em;
      }
      #toby{
          width: 50%;
          float: right;
          clear:left;
          margin: 1em;
      }
      #spencer{
          width: 50%;
          float: left;
          clear: right;
          margin: 1em;
      }

  </style>

  {% endblock content %}
