<!DOCTYPE html>
<html>
<head>
  <title>Condensity</title>
  <link rel="icon" href="../static/img/file-minus-fill.svg">
  <link rel="stylesheet" href="../static/css/style.css">
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!--pace-->
  <script src="../static/js/pace.js"></script>
  <link href="../static/css/loading.css" rel="stylesheet"/>

</head>

<body>
  <div class="jumbotron text-center">
    <h1>Condensity</h1>
    <!-- LOGO GOES HERE <img src="../static/img/file-minus.svg" alt="" width="80" height="80" title="Bootstrap"> -->
    <p>summarize text instantly</p>
  </div>
  {% block content %}
  {% endblock content %}
   <div class="container">
      <div class="form-group">
        <label for="text">Result:</label>
        <textarea class="form-control" rows="10" id="text" name="text">
          {% for sentence in summary_sentences %}
            {{ sentence }}
          {% endfor %}
        </textarea>
      </div>
      <div>
        <b><p></p></b>
      </div>
    </div>
    <div class="box">
        <center><div id="value"></div></center>
    <div class="main">
        <input type="range" min="0" max="100" value="50" class="slider" id="slider">
    </div>
    </div>
    <style>
        .box{
            width:30%;
            margin-left: 5%;
            position: relative;
        }
        
        
    </style>
    <script type="text/javascript">
        var slider=document.getElementById('slider');
        var val=document.getElementById("value");
        val.innerHTML=slider.value;
        slider.oninput=function(){
            val.innerHTML=this.value;
        }
    </script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a class="navbar-brand" href="#">Condensity</a></li>
        <li><a href="#">Options</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> About</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>
