{% extends "base.html" %}

{% block content %}
  <div class="container">
    {% if errormsg: %}
    <div class="alert alert-danger" role="alert">
        {{ errormsg }}
    </div>
    {% endif %}
    <form method="POST" action="/results" id="data" enctype="multipart/form-data">
      <div class="form-group">
        <label for="text">Enter Text, a News Article Link, or a .txt file:</label><input type="file" id="upload" name="upload" accept="text/*">
        <textarea class="form-control" rows="7" id="text" name="text" required></textarea>
      </div>
      <div class="form-group">
        <label for="percent" id="percent-value">Condense to %: </label><br>
        <input type="range" min="1" max="100" value="{{
                request.form['percent'] if request.form['percent'] else 50
                }}" class="slider" id="percent" name="percent">
        <script type="text/javascript">
          const slider = document.getElementById('percent');
          const val = document.getElementById("percent-value");
          if (sessionStorage.getItem('percent')) {
              slider.value = sessionStorage.getItem('percent');
          }
          slider.addEventListener('input', function() {
              sessionStorage.setItem('percent', slider.value);
              val.innerHTML = 'Condense to %: ' + slider.value;
          });
          val.innerHTML += slider.value
        </script>

      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-lg" type="submit" id="submit">
          Condense
        </button>
      </div>
      <p id="txt"></p>
    </form>
    <br>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){

     $("#data").submit(function(){
       $( "#submit" ).replaceWith("<button class=\"btn btn-lg\" type=\"button\" disabled><span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>Loading...</button>");
     });

     $('input[type="file"]').change(function(e){
       var fileName = e.target.files[0].name;
       var tmppath = URL.createObjectURL(e.target.files[0]);
       console.log(tmppath);
       $.get(tmppath, function(data) {
         $( "#text" ).replaceWith("<textarea class=\"form-control\" rows=\"7\" id=\"text\" name=\"text\" required>" + data + "</textarea>");
       }, 'text');
     });
    });
  </script>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a class="navbar-brand" href="/">Condensity</a></li>
        <li><a href="/news">Newsfeed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"> About</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
      </ul>
    </div>
  </nav>
{% endblock content %}
