{% extends "base.html" %}

{% block content %}
  <div class="container">
    <form method="POST" action="/results" id="data">
      <div class="form-group">
        <label for="text">Enter Text or a News Article Link:</label>
        <textarea class="form-control" rows="10" id="text" name="text"></textarea>
      </div>
      <div class="form-group">
        <label for="percent">Condense to %:</label><br>
        <input type="number" id="percent" name="percent">
      </div>
      <div class="text-center">
        <button class="btn btn-default" type="submit">
          Condense
        </button>
      </div>
    </form>
  </div>
{% endblock content %}
