{% extends "base.html" %}

{% block content %}

<div class="container">
    <form method="POST" action="/signup" id="data">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-10">
            <label for="email">Sign up for our Newsletter by Entering your Address Below</label>
            <input class="form-control" type="email" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="col-sm-2">
            <br>
            <button type="submit" class="btn btn-lg">Sign Up!</button>
          </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </form>
    {% for article in articles %}
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <h3><a href={{ article["Url"] }}>{{ article["Title"] }}</a></h3>
        <b>{{ article["Authors"] }}</b><br>
        <p>{{ article["Date"][0:10] }}<br>
        {{ article["Date"][11:-1] }}</p>
        <p>{{ article["Text"] }}</p>
        <span>
            {% for tag in article["Tags"] %}
              <button class="btn btn-info" onclick="location.href='https://news.google.com/search?q={{ tag }}'" type="button">{{ tag }}</button>
            {% endfor %}
        </span>
        <b><p>Condensed by {{ article["Metrics"]['Total %'] }}% ({{ article["Metrics"]['Sentences'] }} sentences,
            {{ article["Metrics"]['Words'] }} words,
            {{ article["Metrics"]['Characters'] }} characters removed)</p></b>
      </div>
      <div class="col-sm-6">
        <br>
        <br>
        <img src={{ article["Image"] }} width=700 height=auto>
        <a href={{ article["Image"] }}>view original</a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
