{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for article in articles %}
    <hr>
    <div class="row">
      <div class="col-sm-4">
        <h3><a href={{ article["Url"] }}>{{ article["Title"] }}</a></h3>
        <b>{{ article["Authors"] }}</b><br>
        <p>{{ article["Date"][0:10] }}<br>
        {{ article["Date"][11:-1] }}</p>
        <p>{{ article["Text"] }}</p>
        <span>
            {% for tag in article["Tags"] %}
              <button class="btn btn-info" onclick="location.href='https://news.google.com/search?q={{ tag }}'" type="button">{{ tag }}</button>
            {% endfor %}
        </span>
      </div>
      <div class="col-sm-6">
        <br>
        <br>
        <img src={{ article["Image"] }} width=700 height=auto>
        <a href={{ article["Image"] }}>view original</a>
      </div>
    </div>
    {% endfor %}
</div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/">Condensity</a></li>
      <li class="active"><a href="/news">Newsfeed</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"> About</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a></li>
    </ul>
  </div>
</nav>
{% endblock content %}
